@import "tailwindcss";

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overscroll-behavior-y: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
}

#root {
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
}

body {
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
}
